<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Music Controller</title>
    {% load static %}
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{%static "css/index.css" %}" />
  </head>
  <body>
    <div id="main">
      <div id="app"></div>
      <h1>Hello!</h1>
    </div>
    <script src="/static/frontend/main.js"></script>
  </body>
</html>
